* {
  outline: 0;
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }

h1, h2 { line-height: 1.2; }

a {
  cursor: pointer;
  color: rgb(var(--primary));
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  word-break: break-word;
  word-wrap: break-word;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.markdown-body {
  white-space: pre-wrap;
}

ul, ol {
  list-style-position: inside;
  list-style-type: disc;
  margin-top: -1.6rem;
  margin-bottom: -1.6rem;
}

ul > li {
  margin-left: 0.6rem;
}

ul.contains-task-list {
  list-style-type: none;
}

ul.contains-task-list > li {
  margin-left: 0;
  display: flex;
  align-items: center;
}

.shot-container {
  position: relative;
  padding: 1rem 6rem;
}

.shot-container:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

.shot-container:hover > div > i {
  display: block;
}

.shot-container > div > i {
  display: none;
}

@media (max-width: 768px) {
  .shot-container {
    padding: 1rem 2rem;
  }
}

.script {
  transition: background-color 0.15s ease-in-out; 
}

.script:hover {
  background-color: rgb(var(--background-700) / 70%);
}

.editable-text, .editable-text textarea {
  min-width: 100%;
  padding: 0;
  min-height: 1rem;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.script-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 15rem);
}

.intro {
  margin: 1rem 6rem;
  margin-bottom: 3.4rem;
}

@media (max-width: 768px) {
  .intro {
    margin: 1rem 2rem;
  }
}

.phantom-section {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 24rem;
  width: 100%;
  min-height: 8rem;
  max-height: 8rem;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.phantom-section > * {
  display: none;
}

.phantom-section:hover {
  background-color: rgba(255, 255, 255, 0.01);
}

.phantom-section:hover > * {
  display: block;
}

@keyframes LogoAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  width: 64px;
  height: 64px;
  animation: LogoAnim 1.5s infinite;
}

.status {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(var(--background-700));
}

thead {
  background-color: rgb(var(--background-700));
}

th {
  text-align: left;
  padding: 0.4rem;
  border-bottom: 1px solid rgb(var(--background-700));
}

td {
  padding: 0.4rem;
}

td:not(:last-child) {
  border-right: 1px solid rgb(var(--background-700));
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(var(--background-700));
}

tr:nth-child(even) {
  background-color: rgb(var(--background-600));
}

code {
  font-size: 0.9rem;
  background-color: rgb(var(--background-700));
  color: rgb(var(--text-600));
  padding: 0.2rem 0.4rem;
}

.hljs{display:block;overflow-x:auto;padding:.5em;color:#abb2bf;background:rgb(var(--background-600));border-radius:4px;line-height:1;white-space:pre-wrap;}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-addition,.hljs-attribute,.hljs-meta-string,.hljs-regexp,.hljs-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}.hljs-link{text-decoration:underline}

blockquote {
  border-left: 0.3rem solid rgb(var(--primary));
  background-color: rgb(var(--background-700));
  padding-left: 0.6rem;
  margin-left: 0;
  line-height: 0.6;
}
